body {
    margin: 0;
    padding: 0;
}

.container {
    height: 200vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
}

.box2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
}



.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    
}

a {
    height: 150px;
    width: 150px;
}